
PlayerXP/dep/0Harmony.dll
PlayerXP/dep/Assembly-CSharp.dll
PlayerXP/dep/CommandSystem.Core.dll
PlayerXP/dep/Exiled.API.dll
PlayerXP/dep/Exiled.CreditTags.dll
PlayerXP/dep/Exiled.CustomItems.dll
PlayerXP/dep/Exiled.CustomRoles.dll
PlayerXP/dep/Exiled.Events.dll
PlayerXP/dep/Exiled.Loader.dll
PlayerXP/dep/Exiled.Permissions.dll
PlayerXP/dep/Exiled.Updater.dll
PlayerXP/dep/Mirror.dll
PlayerXP/dep/Newtonsoft.Json.dll
PlayerXP/dep/SemVer.dll
PlayerXP/dep/UnityEngine.CoreModule.dll
.vscode/tasks.json
PlayerXP/dep/UnityEngine.dll
PlayerXP/dep/YamlDotNet.dll
PlayerXP/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
PlayerXP/obj/Release/BetterPlayerXP.csproj.AssemblyReference.cache
PlayerXP/obj/Release/BetterPlayerXP.csproj.CoreCompileInputs.cache
PlayerXP/obj/Release/BetterPlayerXP.csproj.FileListAbsolute.txt
*.pdb
*.dll
*.CopyComplete
